.suspicious-link-container {
	display: inline-block;
	position: relative;
	font-family: Arial, sans-serif;
}

.suspicious-link-icon:hover {
	width: 28px;
	height: 28px;
}

.suspicious-link-icon {
	width: 24px;
	height: 24px;
	margin-left: 5px; /* Add a gap between link text and image */
}

.suspicious-close-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 16px;
	height: 16px;
}

.suspicious-close-icon:hover {
	cursor: pointer;
}

.suspicious-link-popup {
	display: none;
	position: absolute;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	background: #fffefb;
	border: 1px solid #0000001a;
	border-radius: 12px;
	box-shadow: 0px 4px 4px 0px #00000040;
	padding: 12px 24px;
	color: #000000;
	font-size: 14px;
	width: 500px;
	z-index: 2147483647;
}

.suspicious-link-popup-header {
	width: 100%;
	text-align: left;
}

.suspicious-link-popup-content {
	text-align: justify;
}

.suspicious-link-popup-button {
	background: #01266ebf;
	color: #ffffff;
	padding: 4px 10px;
	border: 0px;
	border-radius: 6px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}
